body {
    background-color: #f8f5e1;
    box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border: 10px solid #d3d3d3;
    color: #333333;
    padding: 8px;
    width: 500px;
    margin: 16px auto;
}

h1 {
    color: #4a3c31;
    text-align: center;
}

.pesto {
    padding: 8px;
    margin-bottom: 10px;
}

.chicken {
    padding: 8px;
    margin-bottom: 10px;
}

.cornbread {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    margin-left: 90px;
    background-color: tan;
}

.one {
    background-color: #bea28b;
    display: inline-block;
    padding: 5px;
}